gymnasium==0.28.1
stable-baselines3[extra,tests,docs]~=2.3.0
omniSafe == 0.5.0


# omnisafe runtime deps
gdown>=4.6.0
moviepy>=1.0.0
pyyaml>=6.0
seaborn>=0.12.2
typer[all]>=0.7.0
wandb>=0.13.0
pandas==2.0.3
safety-gymnasium==1.0.0

# Dependencies for safety-gymnasium 1.0.0
gymnasium-robotics==1.2.2
mujoco==2.3.3
xmltodict>=0.13.0
pygame==2.1.0


Box2D==2.3.10
# pybullet_envs_gymnasium>=0.6.0
# panda-gym==3.0.7
# minigrid >= 3.0.0


cloudpickle>=2.2.1
# Optuna auto
optunahub>=0.2.0
# optuna plots:
plotly
wandb
